{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
  <h2>Welcome <b>{{user.username}}</b></h2>
{% endif %}

  <section class="posts-section">
    <div>
      {% for post in posts %}
      <div class="post-div">
        <h3><b><a href="{% url 'user-profile' post.user.id %}">{{ post.user.username }}</a></b></h3>
       <h3><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
       <p>{{ post.content }}</p>
       {% for i in post.tags.all %}
       <a href="#">{{ i.title }}</a>
       {% endfor %}
      <h3>{{ post.likes.all.count }} likes</h3>
     </div>
     {% endfor %}
   </div>
 </section>
{% endblock %}
